[Unit]
Description=Custom launch at start
Wants=network-online.target
After=systemd-resolved.service network-online.target

[Service]
Type=idle
User=root
Group=root
ExecStart=/opt/influx/firststart.sh

[Install]
WantedBy=multi-user.target

